/* Navigation  */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    margin-bottom: 8px;
    transition: background-color 0.6s;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}


/* Home Section */
#home{
    height: 370px;
    padding: 3px 28px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}


/* Services Section */
#services{
    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}



/* Clients Section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}


/* Contact US Section */
#contact-box form{
    width: 80%;
}

/* Footer  */



/* Utilities Classes */
.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}